{"web":
  {"client_id":"131038498349-tueai921o9jtf17g543o17itt9o2q5lh.apps.googleusercontent.com",
    "project_id":"thinking-armor-173509",
    "auth_uri":"https://accounts.google.com/o/oauth2/auth",
    "token_uri":"https://accounts.google.com/o/oauth2/token",
    "auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs",
    "client_secret":"JmUVfntI0ZaN673USOrdvzHe",

    "redirect_uris":[
      "http://milselarch.com:30000",
      "http://milselarch.com",
      "http://boolex.me/auth",
      "http://boolex.me/auth/",
      "http://boolex.me/auth/*",
      "https://boolex.me/auth",
      "https://boolex.me/auth/",
      "https://boolex.me/auth/*"

    ],"javascript_origins":[
      "http://milselarch.com:30000",
      "http://milselarch.com"
    ]
  }
}